# Kafka Configuration
kafka_bootstrap_servers=""
kafka_consumer_group=""

# Elasticsearch Configuration
elasticsearch_url=""
elasticsearch_index_documents=""

# CDC Topic Configuration
cdc_documents_topic=""

# Service Configuration
service_name=""
